# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Android signing files
*.jks
*.keystore

# Environment files
.env
.env.*

# Local admin credentials & secrets
admin_credentials.dart
**/admin_credentials.dart